In [2]:
import pandas as pd
import numpy as np

# Series
The series is the object of the pandas library designed to represent one-dimensional data structure

# Declaring a Series
you simply call the Series() constructor and pass as an argument an array containing the values to be included in it.

In [3]:
s = pd.Series([12,-3,7,9])
s

0    12
1    -3
2     7
3     9
dtype: int64

In [60]:
#Series as Dictornaries
mydict = {'red': 2000, 'blue': 1000, 'yellow': 500,'orange': 1000}
s1 = pd.Series(mydict)
s1

red       2000
blue      1000
yellow     500
orange    1000
dtype: int64

In [63]:
s1.head()

red       2000
blue      1000
yellow     500
orange    1000
dtype: int64

In [4]:
s = pd.Series([12,-4,7,9], index=['a','b','c','d'])
s

a    12
b    -4
c     7
d     9
dtype: int64

In [5]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
s.values

array([12, -4,  7,  9])

In [7]:
print(s[2],s['b'])

7 -4

# Selecting the internal elements of series

In [20]:
#selecting rows from 0 to 4 index
s[0:4]

a    12
b    -4
c     7
d     9
dtype: int64

In [19]:
#selecting rows from 0 to 4 by jumping 2 index
s[0:4:2]

a    12
c     7
dtype: int64

In [21]:
#selecting rows by specifiying list of labels in an array 
s[['b','c']]

b   -4
c    7
dtype: int64

# Assigning values to the elements

In [9]:
s[1]=0
s

a    12
b     0
c     7
d     9
dtype: int64

In [10]:
s['b']=1
s

a    12
b     1
c     7
d     9
dtype: int64

# Defining a Series from numpy arrays or other Series
You can define a new series starting with NumPy arrays or with an existing series.

In [11]:
arr = np.array([1,2,34,56,6])
series = pd.Series(arr)
series

0     1
1     2
2    34
3    56
4     6
dtype: int64

In [12]:
arr[2]=-3
series

0     1
1     2
2    -3
3    56
4     6
dtype: int64

# Filtering Values

In [30]:
#Filter value using numerical condition
s[s > 8]

a    12
d     9
dtype: int64

In [33]:
#Filter value using string condition , here filtering index value with string 'd'
s[s.index=='d']

d    9
dtype: int64

In [20]:
s.between(1,10,inclusive=False)

a    False
b    False
c     True
d     True
dtype: bool

In [14]:
#Using Mathematical functions
series/2

0     0.5
1     1.0
2    -1.5
3    28.0
4     3.0
dtype: float64

In [15]:
#However, with the NumPy mathematical functions, you must specify the function referenced with np and the instance of the series passed as an argument.
np.log(s)

a    2.484907
b    0.000000
c    1.945910
d    2.197225
dtype: float64

# Evaluating Values
There are often duplicate values in a series. Then you may need to have more information about the samples, including existence of any duplicates and whether a certain value is present in the series.

In [27]:
serd = pd.Series([1,0,2,1,2,3],index=['white','white','blue','green','green','yellow'])
serd

white     1
white     0
blue      2
green     1
green     2
yellow    3
dtype: int64

In [28]:
serd.index.unique()

Index(['white', 'blue', 'green', 'yellow'], dtype='object')

In [36]:
serd.drop_duplicates(keep='first')

white     1
white     0
blue      2
yellow    3
dtype: int64

# CALCULATING OCCURANCES OF EACH GROUP

In [35]:
serd.value_counts()

2    2
1    2
3    1
0    1
dtype: int64

serd

In [38]:
serd.isin([0,3])

white     False
white      True
blue      False
green     False
green     False
yellow     True
dtype: bool

In [42]:
serd[serd.isin([0,3])]

white     0
yellow    3
dtype: int64

In [43]:
serd[~serd.isin([0,3])]

white    1
blue     2
green    1
green    2
dtype: int64

# NaN values

In [45]:
s2 = pd.Series([5,-3,np.NaN,14,10])

In [46]:
s2

0     5.0
1    -3.0
2     NaN
3    14.0
4    10.0
dtype: float64

In [54]:
s2[s2.isnull()]

2   NaN
dtype: float64

In [55]:
s2[s2.notnull()]

0     5.0
1    -3.0
3    14.0
4    10.0
dtype: float64