In [29]:
import pandas as pd
import datetime as dt

In [30]:
df = pd.read_csv(path)
df.shape

(42822, 4)

In [31]:
df = df[['imei','AdID','timestamp']]
df.head(5)

,imei,AdID,timestamp
0,04G0LT445QLQT5NTP40L5TPG,28075d03-b93c-4fb6-830e-b56521c50248,2018-06-01T16:57:55.000Z
1,04G5NNOJ5QONQ5JTP4LG5TPQ,10e21cbe-9284-423b-8338-a38cbe23d459,2018-12-27T11:59:50.000Z
2,04GG4TT55JTL05QTP4LJ5TPG,fac98d45-50b9-43c3-beb2-990e6348f5dd,2018-06-17T19:26:50.000Z
3,04GLNLG45OTNQ4QTP4N4TTPG,58e88563-79fd-43eb-a3ca-df5197e56372,2018-10-09T16:26:55.000Z
4,04GLNLG45OTNQ4QTP4N4TTPG,58e88563-79fd-43eb-a3ca-df5197e56372,2018-11-16T12:31:14.000Z

In [32]:
from datetime import datetime, timedelta
df['time'] = pd.DatetimeIndex(df['timestamp']) - timedelta(hours=0)
df['hour_before']= pd.DatetimeIndex(df['timestamp']) - timedelta(hours=1)
df = df[['imei','AdID','time','hour_before']]
df.head(5)

,imei,AdID,time,hour_before
0,04G0LT445QLQT5NTP40L5TPG,28075d03-b93c-4fb6-830e-b56521c50248,2018-06-01 16:57:55,2018-06-01 15:57:55
1,04G5NNOJ5QONQ5JTP4LG5TPQ,10e21cbe-9284-423b-8338-a38cbe23d459,2018-12-27 11:59:50,2018-12-27 10:59:50
2,04GG4TT55JTL05QTP4LJ5TPG,fac98d45-50b9-43c3-beb2-990e6348f5dd,2018-06-17 19:26:50,2018-06-17 18:26:50
3,04GLNLG45OTNQ4QTP4N4TTPG,58e88563-79fd-43eb-a3ca-df5197e56372,2018-10-09 16:26:55,2018-10-09 15:26:55
4,04GLNLG45OTNQ4QTP4N4TTPG,58e88563-79fd-43eb-a3ca-df5197e56372,2018-11-16 12:31:14,2018-11-16 11:31:14

In [33]:
df['ymd'] = df['time'].dt.date
df.head(10)

,imei,AdID,time,hour_before,ymd
0,04G0LT445QLQT5NTP40L5TPG,28075d03-b93c-4fb6-830e-b56521c50248,2018-06-01 16:57:55,2018-06-01 15:57:55,2018-06-01
1,04G5NNOJ5QONQ5JTP4LG5TPQ,10e21cbe-9284-423b-8338-a38cbe23d459,2018-12-27 11:59:50,2018-12-27 10:59:50,2018-12-27
2,04GG4TT55JTL05QTP4LJ5TPG,fac98d45-50b9-43c3-beb2-990e6348f5dd,2018-06-17 19:26:50,2018-06-17 18:26:50,2018-06-17
3,04GLNLG45OTNQ4QTP4N4TTPG,58e88563-79fd-43eb-a3ca-df5197e56372,2018-10-09 16:26:55,2018-10-09 15:26:55,2018-10-09
4,04GLNLG45OTNQ4QTP4N4TTPG,58e88563-79fd-43eb-a3ca-df5197e56372,2018-11-16 12:31:14,2018-11-16 11:31:14,2018-11-16
5,04GLNLG45OTNQ4QTP4N4TTPG,58e88563-79fd-43eb-a3ca-df5197e56372,2018-11-16 12:31:14,2018-11-16 11:31:14,2018-11-16
6,04GLNLG45OTNQ4QTP4N4TTPG,58e88563-79fd-43eb-a3ca-df5197e56372,2018-11-14 14:53:39,2018-11-14 13:53:39,2018-11-14
7,04GNG0GJ5LQ40TGTP4QN5TP0,b1fc5946-35bc-4f7e-98bb-baceabec78c2,2018-08-28 19:15:36,2018-08-28 18:15:36,2018-08-28
8,04GQJQLO55GQNTQTP4O5TTPJ,995186aa-a6aa-4188-ac05-3d50b44d8084,2018-11-02 11:29:37,2018-11-02 10:29:37,2018-11-02
9,04GQO4GQ5TQGGT4TP4NN5TPL,cb9112ea-d618-43c0-8d6f-ba8fa4e0364a,2018-10-04 20:01:16,2018-10-04 19:01:16,2018-10-04

In [35]:
df.dtypes

imei                   object
AdID                   object
time           datetime64[ns]
hour_before    datetime64[ns]
ymd                    object
dtype: object

In [38]:
output = '/Users/bhavani.sankar/Desktop/Proj/Asurion/Tasks/Homma/17_bigquery_data_extraction/python_day_wise'
for i, x in df.groupby(df['ymd']):
    x.to_csv('{}/{}.csv'.format(output,i), index=False)