In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
iris_path = './iris_data.csv'

In [2]:
iris_df = pd.read_csv(iris_path)
iris_df.shape

(150, 5)

In [3]:
iris_df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
setosa_df = iris_df[iris_df['variety']=='Setosa']
virginica_df = iris_df[iris_df['variety']=='Virginica']
versicolor_df = iris_df.loc[iris_df['variety']=='Versicolor']
versicolor_df.head()

    sepal.length  sepal.width  petal.length  petal.width     variety
50           7.0          3.2           4.7          1.4  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor

# Mean , SD, Variance

In [10]:
print(np.mean(setosa_df['petal.length']))
print(np.mean(np.append(setosa_df['petal.length'],50)))
print(np.mean(virginica_df['petal.length']))
print(np.mean(versicolor_df['petal.length']))

1.4620000000000002
2.4137254901960787
5.552
4.26

In [12]:
print(np.std(setosa_df['petal.length']))
print(np.std(np.append(setosa_df['petal.length'],50)))
print(np.std(virginica_df['petal.length']))
print(np.std(versicolor_df['petal.length']))

0.17191858538273286
6.731868010072429
0.5463478745268441
0.4651881339845204

1. Mean, SD and variance easily affected by outliers.
2. Mean talks about balance point where as SD talks about spread of the data.

In [15]:
print(setosa_df['petal.length'].mean(),setosa_df['petal.length'].std(),setosa_df['petal.length'].var())
setosa_df['petal.length'].describe()

1.4620000000000002 0.1736639964801841 0.030159183673469397

count    50.000000
mean      1.462000
std       0.173664
min       1.000000
25%       1.400000
50%       1.500000
75%       1.575000
max       1.900000
Name: petal.length, dtype: float64

# Median, Percentile , Quantile, IQR , MAD

In [18]:
print("median before outlier is : {}".format(np.median(setosa_df['petal.length'])))
print("median after outlier is : {}".format(np.median(np.append(setosa_df['petal.length'],50))))

median before outlier is : 1.5
median after outlier is : 1.5