In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,dense_rank
from pyspark.sql.window import Window
input_path = "/Users/bhavanisankar/work/Bigdata-Analytics/SparkCodingChallenges/Day5/dataset/employees.csv"

#1. Create spark session
spark = SparkSession.Builder().master("local[*]").appName("Challege5").getOrCreate()

# 2. Create student dataframe
emp_df = spark.read.option("header","true").option("inferSchema","true").csv(input_path)

print("-"*10+"Original Dataframe"+"-"*10)
emp_df.show(20,False)

# 3. Find employee with nth highest salary from each department.

# Create department window 
dept_window = Window.partitionBy(col('department')).orderBy(col('salary').desc())

res_df = emp_df.withColumn('dense_rank',dense_rank().over(dept_window)).filter(col('dense_rank')==2).drop('dense_rank')
res_df.show(10,False)

----------Original Dataframe----------
+---+--------+----------+------+------+
|id |name    |department|gender|salary|
+---+--------+----------+------+------+
|1  |Dakonat |sales     |male  |1900  |
|2  |Alice   |IT        |female|2100  |
|3  |Gajantut|IT        |male  |1600  |
|4  |Rifat   |IT        |female|782   |
|5  |Tupur   |IT        |male  |1370  |
|6  |Alice   |sales     |male  |1500  |
|7  |Bob     |sales     |male  |1000  |
|8  |David   |sales     |male  |800   |
|9  |Charlie |manager   |male  |1200  |
|10 |James   |manager   |male  |1900  |
|11 |Alex    |manager   |male  |1200  |
|12 |Santa   |HR        |female|1500  |
|13 |Shanti  |HR        |female|1100  |
|14 |Dakonat |HR        |male  |1000  |
|14 |Eli     |HR        |female|1100  |
+---+--------+----------+------+------+

+---+--------+----------+------+------+
|id |name    |department|gender|salary|
+---+--------+----------+------+------+
|13 |Shanti  |HR        |female|1100  |
|14 |Eli     |HR        |female|1100  |
|3  |Gajantut|IT        |male  |1600  |
|9  |Charlie |manager   |male  |1200  |
|11 |Alex    |manager   |male  |1200  |
|6  |Alice   |sales     |male  |1500  |
+---+--------+----------+------+------+